

form.search {
    overflow: auto;
    width: 100%;
    left: 20px;
    color: white;
    text-align: center;
  }
  
  form.search button[type="submit"] {
    position: relative;
    margin-top: 10px;
  }

form.group {
  width: 100%;
}

.searchContainer {
  margin-bottom: 10px;  
}

input {
  width: 100%;
}