@import url("https://fonts.googleapis.com/css?family=Syncopate");

@media only screen and (min-width: 768px){

    body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        /* background-color: #c0c0c0; */
        background-image: url("./Images/Background.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
        font-size: 16px;
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #all{
        text-align: center;
        opacity: 0.9
    }
    .title{
        font-family: 'Syncopate', sans-serif;
        margin-top: 30px;
        font-size: 50px;
        text-shadow: gray ;
        margin-bottom: 5px;
    }
    #login-box{
        position: relative;
        margin: 5% auto;
        height: 400px;
        width: 600px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.6);
        margin-top: 0px;
    }
    .left-box{
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 20px;
        width: 300px;
        height: 400px;
        padding-top: 5px;
        margin-top: 0px;
    }
    input[type="text-center"],
    input[type="password-center"]
    {
        display:block;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 4px;
        width: 220px;
        border: none;
        outline: none;
        border-bottom: 1px solid #aaa;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 15px;
        transition: 0.9s ease;
    }
    input[type='submit']
    {
        margin-bottom: 28px;
        width:   120px;
        height: 32px;
        background: black;
        border: none;
        border-radius: 2px;
        color: white;
        font-family: 'Syncopate', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.9s ease;
        cursor: pointer;
    }
    input[type='submit'] :hover,
    input[type='submit'] :focus
    {
        background: #ff5722;
        transition: 0.2s ease;
    }
    .right-box{
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box ;
        padding: 40px;
        width: 300px;
        height: 400px;
        background-color: rgb(173, 173, 173);
        /* background-image: url("https://images.pexels.com/photos/6966/abstract-music-rock-bw.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-size: cover;
        background-position: center; */
        padding-top: 100px; 
    }
    .or{
        position: absolute;
        top: 180px;
        left: 280px;
        width: 40px;
        height: 40px;
        background: #efefef;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.6);
        text-align: center;
        line-height: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .right-box .signInWith
    {
        display: block;
        margin-bottom: 40px;
        font-size: 20px;
        color: black;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    button.social
    {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 220px;
        height: 40px;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        transition: 0.9s ease;
        cursor: pointer;
        font-size: 15px;  
    }
    .facebook{
        background: #32508e;
       
        
    }
    .twitter{
        background: #55acee;

    }
    .google{
        background: #dd4b39;
    }
    .bandsInTown{
        background: #259998;
    }
    h1{
        font-family: 'Syncopate', sans-serif;
        margin-top:0px;
        padding-top:0px;
        font-size: 0px;
        visibility: hidden
    }
    p{
        margin-top: 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    a{
        color: #f44336;
        margin-left: 5px;
    }
    h5{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 24px;
        margin-bottom: 0px;
        text-align: left;
        margin-top:0px;
        color: rgb(112, 112, 112);
    }
    ::placeholder{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #signUp{
        margin-top: 10px;
        margin-bottom: 12px;
        padding-bottom: 20px;
    }
    hr{
        visibility: hidden
    }
    
   
}

/*===================================================================================*/
/*===================================================================================*/
/*===================================================================================*/

@media only screen and (max-width: 767px){
    body{
        background: #efefef;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h1{
        margin-top: 10px;
        font-family: 'Syncopate', sans-serif;
        font-size: 35px;
        margin-bottom: 5px;
    }
    hr {
        background-color: black;
        border: none;
        height: 2px;
        width: 75%;
        margin-bottom: 15px;
    }
    h5{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 2px;
        margin-top: 0px;
        font-size: 18px;
        font-weight: 200px;
        line-height: 20px;
        color: rgb(112, 112, 112)
    }
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #all{
        width: 100%;
        height: 100%;
        background-image:  url("./Images/Background.jpg");
        background-size: cover;
        background-position: center;
    }
    #login-box{
        text-align: center;
        padding-bottom: 60px;
    }
    #signUp{
        padding-bottom: 10px;
    }
    .left-box{
        text-align: center;
        padding-top: 5px;
    }
    input[type="text-center"],
    input[type="password-center"]{
        box-sizing: border-box;
        border: none;
        outline: none;
        border-bottom: 1px solid #aaa;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 15px;
        transition: 0.9s ease;
        background: white;
        width: 250px;
        margin-top: 20px;
        border-radius: 5px;
        height: 30px;
        opacity: 0.9;
        margin-bottom: 5px;
        opacity: 0.6;
    }
    input[type="submit"]{
        margin-top:10px;
        margin-bottom: 5px;
        width:   150px;
        height: 32px;
        background: black;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-family:'Syncopate', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        transition: 0.9s ease;
        cursor: pointer;
        font-size: 12px;
    }
    ::placeholder{
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .signInWith{
        visibility: hidden;
        font-size: 0px;
    }
    .or{
        visibility: hidden;
    }
    .facebook{
        background: #32508e;
    }
    .twitter{
        background: #55acee;
    
    }
    .google{
        background: #dd4b39;
        
    }
    .bandsInTown{
        background: #259998;
    }
    button.social{
        margin-top: 5px;
        margin-bottom: 20px;
        width: 220px;
        height: 40px;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        transition: 0.9s ease;
        cursor: pointer;
        font-size: 15px;
    }
    .right-box{
        text-align: center;
        margin-top: 25px;
        padding-top: 25px;
        right: 0;
        box-sizing: border-box ;
    } 
    a{
        color: #f44336;
        margin-left: 5px;
    }
    .title{
        visibility: hidden;
        font-size:0px;
    }

}